<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link rel="stylesheet" href="../../css/mui.min.css">
		<link rel="stylesheet" href="../../css/style.css">
		<style>
			.mui-slider-item img {
				height: 130px;
			}
		</style>
	</head>

	<body>
		<script id="tpl-template-header" type="text/html">
			<header class="mui-bar mui-bar-nav">
				<a id="close" class="mui-icon mui-icon-left-nav mui-pull-left"></a>
				{{if rightclass}}
				<a class="mui-action-menu mui-icon mui-pull-right {{rightclass}}" {{if rightdo}} id="{{rightdo}}" {{/if}}></a>{{/if}}
				<h1 id="title" class="mui-title">{{title}}</h1>
			</header>
		</script>
		<div id="tpl-template-header-html"></div>
		<div class="mui-content" id="content">

		</div>
	</body>
	<script src="../../js/mui.min.js"></script>
	<script src="../../js/zepto.min.js"></script>
	<script src="../../js/template.js"></script>
	<script src="../../js/common.js"></script>
	<script type="text/javascript">
		 /////test
		var html = template('tpl-template-header', {
			title: '返回重试',
			rightclass: 'mui-icon-loop',
			rightdo: 'reload'
		});
		document.querySelector('#tpl-template-header-html').innerHTML = html;
		 ////
		var selfWV, mainWV, bodyWV;
		var url = get('url');
		
		if(!url){
			alert('地址错误')
			return false;
		}
		mui.plusReady(function() {
			selfWV = plus.webview.currentWebview();
			mainWV = plus.webview.currentWebview().opener();
			//二级webview 
			bodyWV = plus.webview.getWebviewById('template-index');
			if (!bodyWV) {
				bodyWV = plus.webview.create('../public/loading.html', 'template-index', {
					top: '44px'
				});
			}
			selfWV.append(bodyWV);
			selfWV.show(animationIn);
			//关闭页面
			window.addEventListener('close', function(e) {
				close();
			});
			 bodyWV.loadURL(url);
			//重载头部事件
			window.addEventListener('loadHeader', function(e) {
				mui.fire(mainWV, 'loadHeader');
			});
			//关闭
			mui('body').on('tap', '#close', function() {
				close();
			});
		});

		function close() {
			bodyWV.loadURL('../public/loading.html');
			mainWV.setStyle({
				left: '0'
			});
			mui.fire(mainWV, 'loadHeader');
			//重新加载头部
			var html = template('tpl-template-header', {});
			document.querySelector('#tpl-template-header-html').innerHTML = html;
			selfWV.hide(animationOut);
		}
	</script>

</html>